.contact{
  color: white;
  background-color: rgb(25, 8, 53);
  padding-bottom: 50px;
  padding: 100px 0;
  transition: all 0.3s ease;
}

.contact .title{
  padding-top: 40px;
  margin-bottom: 120px;
  color: white;
}

.contact .title::before{
  background-color: white;
}

.contact .title::after{
  content: "How to Contact Me";
  background-color: rgb(25, 8, 53);
}


.contact .contact-content .column{
  width: 45%;
}

.contact .contact-content .contact-text{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

.contact .contact-content p{
  font-size: 15px;
  text-align: justify;
}

.contact .contact-content .left .icons{
  margin: 15px 0;
}

.contact .contact-content .icons-content{
  display: flex;
  align-items: center;
  height: 60px;
}

.contact .contact-content .icons-content i{
  margin-right: 20px;
  font-size: 25px;
  color: rgb(255, 164, 45);
}

.contact .contact-content .icons-content .info .head{
  font-weight: 600;
  font-size: 15px;
}

.contact .contact-content .icons-content .info .tail{
  color: rgb(230, 220, 220);
}

.contact .contact-content .fields{
  display: flex;
}

.contact .contact-content .field,
.contact .contact-content .fields .field{
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .contact-content .right{
  margin-bottom: 50px;
}

.contact .contact-content .right .content-area{
  height: 80px;
  width: 100%;
}

.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .email{
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .content-area textarea{
  height: 100%;
  width: 100%;
  border: 1px solid rgb(255, 164, 45);
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif
}

.contact .right form .content-area textarea{
  padding-top: 10px;
  resize: none;
}

.contact .right form .button{
  height: 40px;
  width: 120px;
}

.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(255, 164, 45);
  background-color: rgb(255, 164, 45);
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover{
  color: rgb(255, 164, 45);
  background: none;
}
